#!/usr/bin/env python
# -*- coding:utf-8 -*-

import os
from os.path import dirname, realpath


here = dirname(realpath(__file__))

DEBUG = %(debug)s

SECRET_KEY = '%(secret_key)s'

HOST = '0.0.0.0'
PORT = %(port)s

DB_HOST = '%(db_host)s'
DB_PORT =  %(db_port)s
DB_USERNAME = '%(db_user)s'
DB_PASSWORD = '%(db_pwd)s'
DB_DATABASE = '%(db_dbname)s'

UPLOADS_DIR = os.path.join(here, 'uploads')

